MovieNet/Connected Services/MovieService/FilmService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Commentaire">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Commentaire" nillable="true" type="tns:Commentaire" />
  <xs:complexType name="ArrayOfCommentaire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Commentaire" nillable="true" type="tns:Commentaire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommentaire" nillable="true" type="tns:ArrayOfCommentaire" />
  <xs:complexType name="Genre">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
  <xs:complexType name="Note">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
</xs:schema>