MovieNet/Connected Services/MovieService/FilmService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63836/FilmService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" />
  <xs:complexType name="ArrayOfMovieDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MovieDto" nillable="true" type="tns:MovieDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMovieDto" nillable="true" type="tns:ArrayOfMovieDto" />
  <xs:complexType name="MovieDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="averageMark" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" minOccurs="0" name="commentaire" nillable="true" type="q1:Commentaire" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" minOccurs="0" name="commentaires" nillable="true" type="q2:ArrayOfCommentaire" />
      <xs:element minOccurs="0" name="countComment" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" minOccurs="0" name="genre" nillable="true" type="q3:Genre" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" minOccurs="0" name="marks" nillable="true" type="q4:ArrayOfNote" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MovieNetApiWcf.Model" minOccurs="0" name="newMark" nillable="true" type="q5:Note" />
      <xs:element minOccurs="0" name="resume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MovieDto" nillable="true" type="tns:MovieDto" />
</xs:schema>