MovieNet/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63836/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63836/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63836/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MovieNetDbProject" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFirstName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFirstName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFirstNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="IService1_SetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenre" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetName" message="tns:IService1_GetName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNameResponse" message="tns:IService1_GetName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFirstName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFirstName" message="tns:IService1_GetFirstName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFirstNameResponse" message="tns:IService1_GetFirstName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetData" message="tns:IService1_SetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetDataResponse" message="tns:IService1_SetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGenre" message="tns:IService1_GetGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGenreResponse" message="tns:IService1_GetGenre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirstName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFirstName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap:operation soapAction="http://tempuri.org/IService1/SetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63836/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>