MovieNet/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MovieNetDbProject" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MovieNetDbProject" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Utilisateur">
    <xs:sequence>
      <xs:element minOccurs="0" name="connecte" type="xs:boolean" />
      <xs:element minOccurs="0" name="id_utilisateur" type="xs:int" />
      <xs:element minOccurs="0" name="inscrit" type="xs:boolean" />
      <xs:element minOccurs="0" name="mdp_utilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_utilisateur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prenom_utilisateur" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utilisateur" nillable="true" type="tns:Utilisateur" />
  <xs:complexType name="Genre">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
</xs:schema>